<div id="spectrogram">
    @foreach (bool square in GetAllSquares())
    {
        <div class="@(square ? "on" : "off")">&nbsp</div>
    }
</div>

@code {

    private int[] Levels = new int[162];
    private Random rand = new Random();

    public void SetLevels(byte[] levels)
    {
        if (levels.Length != Levels.Length)
            throw new ArgumentException("162 levels required");

        for (int i = 0; i < levels.Length; i++)
            Levels[i] = levels[i];

        StateHasChanged();
    }

    private bool[] GetAllSquares()
    {
        List<bool> squares = new List<bool>();
        for (int i = 0; i < 4; i++)
            squares.AddRange(GetRowSquares(i));
        return squares.ToArray();
    }

    private bool[] GetRowSquares(int rowIndex)
    {
        bool[] squares = new bool[Levels.Length];
        for (int i = 0; i < Levels.Length; i++)
            squares[i] = Levels[i] == (3 - rowIndex);
        return squares;
    }
}
